.dictionarySearch {
  display: flex;
  flex-wrap: wrap;
}
.dictionarySearch__box {
  width: 100%;
}
.dictionarySearch__header {
  text-align: center;
}
.dictionarySearchForm__button {
  width: 90px;
  margin-bottom: 20px;
}
.dictionarySpecifications__box {
  width: 100%;
}
.dictionarySpecifications .dictionarySpecifications__tbody {
  border-top: 0px;
}
.dictionarySpecificationsForm__button {
  width: 250px;
}
@media screen and (min-width: 900px) {
  .dictionarySearch {
    justify-content: space-between;
  }
  .tasksTableBox {
    width: 28%;
  }

  .dictionarySearch__box {
    width: 48%;
  }
  .dictionarySpecifications__box {
    width: 48%;
  }
}
