.Button__noDictionaries {
  width: 100%;
}
.Card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Card__item {
  width: 90%;
  /* height: 100%; */
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.Card__Title {
  /* height: 30px; */
}
.Card__TitleText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Card__buttonsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Card__button {
  width: max-content;
  margin: 5px;
}

@media screen and (min-width: 480px) {
  .Card__item {
    width: 44%;
  }
}

@media screen and (min-width: 900px) {
  .Card__item {
    width: 30%;
  }
}
